#sidebar-wrapper
  %ul.sidebar-nav
    = link_to home_path do
      = image_tag('logo_sidebar.png',id:"logo_sidebar", alt: 'unipload logo sidebar')
    %li
      = link_to  about_path do
        %span.fa.fa-info{:style => "font-size:14px; margin-right:10px;"}
        About this project
    %li
      = link_to  home_path do
        %span.fa.fa-table{:style => "font-size:14px; margin-right:10px;"}
        Your Catalog
    %li
      = link_to  destroy_user_session_path, method: :delete do
        %span.fa.fa-remove{:style => "font-size:14px; margin-right:10px;"}
        Log Out
