#main.container
  #logo.col-lg-6.col-lg-offset-3.text-center
    = image_tag('logo.png', alt: 'unipload_logo')
  .text-center.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1.col-lg-4.col-md-4.col-md-offset-4.col-lg-offset-4
    #form-wrapper
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        #closeSignIn.field
          = link_to '&times;'.html_safe, '#'
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off"
    = link_to "", id:"formSignIn" do
      #signInButton.text-center
        Sign In
    = link_to omniauth_authorize_path(:user, :facebook), class: "btn btn-block btn-social btn-facebook" do
      %span.fa.fa-facebook
      Sign in with Facebook
  :javascript
    $(document).ready(function() {
      elem = $("#form-wrapper");
      elem.slideUp();
    });
    $("#formSignIn").click(function(e) {
        e.preventDefault();
        btn = $("#signInButton");
        elem = $("#form-wrapper");
        if(!elem.hasClass('toggled')){
          elem.addClass('toggled');
        }
        if(!btn.hasClass('toggled')){
          btn.addClass('toggled');
          elem.slideDown();
        }
        else{
          $('form').submit();

        }

    });
    $("#closeSignIn").click(function(e) {
        e.preventDefault();
        elem = $("#form-wrapper");
        btn = $("#signInButton");
        elem.slideUp();
        elem.removeClass('toggled');
        btn.removeClass('toggled');
    });
