<div id="wrapper">
  <!-- Sidebar -->
  <%= render 'sidebar' %>
  <!-- Page Content -->
  <div class="main-content" id="page-content-wrapper">
    <div class="container-fluid" id="container">
      <%= render 'nav' %>
      <div class="row" id="content">
        <div class="col-lg-12 text-center">

            <%= link_to speciality_path() do%>
          <div class="col-lg-2 box-file">
            <div class="file">
              <div class="row folder-icon">
                <i class="fa fa-chevron-left fa-5x folder-ico"></i>
              </div>

              <div class="row folder-name">
                BACK
              </div>

            </div>
          </div>
            <% end %>
          <% @year.fileshares.each do |cat| %>

            <%= link_to '#' do%>
            <div class="col-lg-2 box-file">
              <div class="file">
                <div class="row folder-icon">
                  <i class="fa fa-file fa-5x folder-ico"></i>
                </div>
                <div class="row folder-name" >
                  <%= link_to "#{cat.name}", cat.file.url ,style:"text-decoration:none"%>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="footer">
  <%= form_for @fileshare, url: show_folder_path, method: :post, html: { multipart: true } do |f| %>
  <div class="col-lg-3">
   <%= f.file_field :file %>
   <%= f.hidden_field :user_id, value: 1 %>
   <%= f.hidden_field :catalog_id, value: @year.id %>
   <%= f.submit %>
  </div>
  <% end %>
  </div>
</div>
