<div id="wrapper">
  <!-- Sidebar -->
  <%= render 'sidebar' %>
  <!-- Page Content -->
  <div class="main-content" id="page-content-wrapper">
    <div class="container-fluid" id="container">
      <%= render 'nav' %>
      <div class="row" id="content">
        <div class="col-lg-12 text-center">
          <%= link_to uni_show_path(@uni)  do%>
        <div class="col-lg-2 box-file">
          <div class="file">
            <div class="row folder-icon">
              <i class="fa fa-chevron-left fa-5x folder-ico"></i>
            </div>

            <div class="row folder-name">
              BACK
            </div>

          </div>
        </div>
          <% end %>
          <% @special.catalogs.order(:name).reverse.each do |cat| %>

            <%= link_to show_folder_path(params[:id], params[:s_id],cat.id) ,style:"border:0;" do%>
            <div class="col-lg-2 box-file">
              <div class="file">
                <div class="row folder-icon">
                  <i class="fa fa-folder-open fa-5x folder-ico"></i>
                </div>
                <div class="row folder-name">

                  <%=cat.name %>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
