<!DOCTYPE html>
<html>
<head>
  <title>Uni</title>
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <%end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<% if current_page?(root_path) %>
<body style="background-color: #4499ef !important;background: url(<%=image_path("background.jpg")=%>) no-repeat center center fixed;">
<% else %>
<body>
<% end %>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '239282999749784',
    xfbml      : true,
    version    : 'v2.5'
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>
<% if current_user %>
<%= debug current_user.email %>
<%= debug current_user.name %>
<%= image_tag(current_user.avatar.url)%>
<%= uploader.retrieve_from_store!(current_user.avatar.identifier)%>
<%= image_tag(current_user.avatar.identifier)%>
<% end %>

<%= yield %>

</body>
</html>
