<!DOCTYPE html>
<html>
  <head>
    <title>Unipload</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <% flash.each do |name, msg| %>
    <% unless msg == "" %>
      <div class="alert alert-success" style="padding-bottom:0">
        <%= content_tag :div, msg, class: name %>
      </div>
    <% end %>
  <% end %>
  <% if current_page?(root_path) %>
  <body style="background-color: #4499ef;">
    <% else %>
    <body>
      <% end %>

      <%= yield %>

    </body>
  </html>
