<!DOCTYPE html>
<html>
<head>
  <title>Uni</title>
  <% flash.each do |name, msg| %>
    <% if msg == "" %>
    <% else %>
      <div class="alert alert-success">
        <%= content_tag :div, msg, class: name %>
      </div>
    <% end %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<% if current_page?(root_path) %>
<body style="background-color: #4499ef !important;background: url(<%=image_path("background.jpg")=%>) no-repeat center center fixed;">
<% else %>
<body>
<% end %>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '239282999749784',
    xfbml      : true,
    version    : 'v2.5'
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript">
window.setTimeout(function()
 {
$(".alert").fadeTo(500, 0).slideUp(500, function()
{
$(this).remove();
});
}, 4000);
window.setTimeout(function()
 {
$(".alert-success").fadeTo(500, 0).slideUp(500, function()
{
$(this).remove();
});
}, 4000);
window.setTimeout(function()
 {
$(".alert-danger").fadeTo(500, 0).slideUp(500, function()
{
$(this).remove();
});
}, 4000);
</script>


<%= yield %>

</body>
</html>
